body{
	font-family: arial;
	background-color: #31313A;
	color: #B3B3B3;
}

h1{
	padding: 5px;	
}

p{
	padding: 5px;
	font-size: 14px;
}

a{
	text-decoration: none;
	color: #B3B3B3;
}

/* header css */

#head_slide{
	display: none;
	height: 200px;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
}

#slide_toggle{
	cursor: pointer;
}

#head_area{
	text-align: left;
	width: 1020px;
	height: 100%;
	background-image: url('/images/main_bg.png');
	background-position: 15px bottom;
	background-repeat: no-repeat;
	margin: 0px auto;
	position: relative;
}

#head_content{
	position: absolute;
	top: 10px;
	right: 25px;
	width: 367px;
}

#head_content h1{
	font-family: "Verdana";
	font-size: 19px;
	font-weight: normal;
	color: #1D1D1E;
}

#head_content p{
	font-family: "Arial";
	font-size: 14px;
	font-weight: normal;
	color: #999999;
	letter-spacing: -1px;
}

#head_social{
	padding: 5px;
	margin-top: 15px;
}

#fb{
	padding: 0px;
	margin: 0px;
}

#other{
	margin-left: 30px;
	text-align: right;
}
/* ends header  css */

/* starts body css */
#body{
	width: 100%;
	text-align: center;
}

#body_area{
	padding-top: 45px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	margin: 0px auto;
	border-left: 1px solid #707074;
	border-right: 1px solid #707074;
	width: 984px;
	height: 1020px;
	background-image: url("/images/back_gradient.png");
}

#body_head{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#body_content h1{
	font-family: "Arial";
	font-size: 30px;
	font-weight: normal;
	color: #C6C6C6;
	letter-spacing: -1px;
	padding-left: 20px;
	padding-top: 50px;
	padding-bottom:  50px;
}

#wembleys_title{
	font-size: 21px;
	letter-spacing: -1px;
	margin-right: 500px;
}

#graph{
	font-family: "Verdana";
	background-image: url("/images/graph.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 363px;
	position: relative;
}

#graph img{
	position: absolute;
	right: 10px;
	top: 50px;
	cursor: pointer;
}

#graph_text{
	position: absolute;
	top: 100px;
	padding-left: 20px;
	width: 560px;
}

#graph_text h1{
	font-size: 41px;
	font-weight: normal;
	color: #EEECE1;
	padding: 0px;
}

#graph_text p{
	font-size: 19px;
	color: #EEECE1;
	padding: 0px;
}

/*body css ends */

/*footer css starts */

#footer{
	height: 130px;
	margin-left: 10px;
	margin-right: 10px;
}

#commercial{
	width: 235px;
}

#commercial_b{
	width: 185px;
}

#residential{
	width: 200px;
}

#residential_b{
	width: 180px;
	margin-right: 0px;
}

#footnote{
	width: 80%;
	margin: 0px 185px;
	margin-top: 20px;
	color: #CBCBCB;
	text-align: center;
}

#footnote img{
	margin-right: 10px;
}

#footnote h1{
	letter-spacing: -1px;
	font-size: 14px;
	padding-top: 12px;
}

#footnote p{
	letter-spacing: -1px;
	font-size: 14px;
	padding-top: 12px;
}

#copyright{
	margin-top: 85px;
	font-size: 12px;
	letter-spacing: -1px;
}

.foot_list{
	height: 130px;
	margin-right: 20px;
	cursor: pointer;
}

.foot_list img{
	margin-top: 20px;
	margin-right: 15px;
}

.foot_list h1{
	padding-top: 50px;
	padding-bottom: 0px;
	font-weight: normal;
	color: #ffffff;
	font-size: 22px;
	letter-spacing: -1px;
}

.foot_list p{
	color: #CBCBCB;
	font-size: 14px;
	letter-spacing: -1px;
}

.button{
	cursor: pointer;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 13px;
	background-color: #515151;
	padding: 10px 30px;
	margin: 0px 10px;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari and Chrome */
	border-radius: 10px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}

.button:hover{
	background-color: #CBCBCB;
	color: #515151;
}

.active{
	background-color: #CBCBCB;
	color: #515151;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

.line{
	background-color: #707074;
	width: 100%;
	height: 1px;
}

.vert_line{
	background-color: #707074;
	height: 60%;
	width: 1px;
	margin: 30px 30px 25px 0px;
}

.orange{
	color: #BB5026;
	text-decoration: none;
}